@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#header-img {
  background: linear-gradient(
      to right,
      rgba(99, 102, 241, 0.8),
      rgba(147, 51, 234, 0.8),
      rgba(236, 72, 153, 0.8)
    ),
    url(../img/bridge-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lowrider-body,
#sponsorship-container {
  background: linear-gradient(
    to right,
    rgba(99, 102, 241, 0.8),
    rgba(147, 51, 234, 0.8),
    rgba(236, 72, 153, 0.8)
  );
}
.time-wrapper {
  @apply flex flex-col text-center grow shrink basis-0 md:w-0 mb-1;
}

.time-text {
  @apply text-5xl md:text-8xl text-amber-400;
}

.time-description {
  @apply text-lg md:text-xl uppercase tracking-wide;
}

.tw-sm-hidden {
  @apply hidden;
}

.tw-dropdown-menu {
  @apply hidden;
}

.tw-dropdown-menu li {
  @apply mb-2;
}

#desktop-nav > a,
.tw-dropdown-menu li > a {
  @apply hover:text-amber-400;
}

.show {
  @apply block;
}

.section-heading {
  @apply font-tinos text-3xl text-amber-400 font-semibold;
}

#about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/about-bg.png);
  min-height: 100%;
}

#vendors-container {
  background: linear-gradient(
      to right,
      rgba(99, 102, 241, 0.9),
      rgba(147, 51, 234, 0.9),
      rgba(236, 72, 153, 0.9)
    ),
    url(../img/paleta-bg.jpg);
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sponsors-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    94deg,
    rgba(0, 0, 0, 1) 51%,
    rgba(45, 45, 45, 1) 99%
  );
  min-height: 100%;
}

ol > li {
  @apply ml-16 mb-4;
}

ul > li {
  @apply ml-4 mb-4;
}

.sponsor-headings {
  @apply font-tinos font-bold text-center text-2xl uppercase;
}

.sponsor-cost {
  @apply font-tinos text-indigo-500 font-bold text-center text-3xl uppercase mb-8;
}

.sponsor-card {
  @apply flex-col min-h-full p-6 w-full lg:w-1/4 bg-gray-200 rounded-lg border border-gray-200 shadow-md;
}

.sponsor-card-horizontal {
  @apply flex-col min-h-full p-6 w-full lg:w-3/4 mx-auto bg-gray-200 rounded-lg border border-gray-200 shadow-md;
}

.logo-wrapper {
  @apply bg-white p-6 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 h-52 w-52 flex flex-col mx-auto lg:mx-0 justify-center;
}

@screen md {
  #about-container {
    background-image: url(../img/about-bg.png);
    min-height: 100%;
  }

  .tw-sm-hidden {
    @apply block;
  }

  #header-img {
    background: linear-gradient(
        to right,
        rgba(99, 102, 241, 0.8),
        rgba(147, 51, 234, 0.8),
        rgba(236, 72, 153, 0.8)
      ),
      url(../img/bridge-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
